
 @font-face { font-style : bold; src: url("assets/fonts/ChivoBold.ttf"); font-family : "Chivo"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/ChivoRegular.ttf"); font-family : "Chivo"; font-weight : 400;  }
 @font-face { font-style : italic; src: url("assets/fonts/ChivoItalic.ttf"); font-family : "Chivo"; font-weight : 400;  }